body {
  text-align: center;
}

.container {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.Newcard {
  border: 5px solid black;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  background-color: rgb(37, 236, 11);
  border-top: 1px solid black;
}

.info>* {
  margin: 5px 0;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}